<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-lock-open fa-4x"></i>
    <p class=" h2 text-primary">Welcome To My Secret Notes</p>
    <p class="h6">I promise that your notes will not be shared by us.</p>
<hr>
  <%userWithSecrets.forEach(function(secret){%>
        <form class="col-sm" action="/delete" method="post">
          <div class="form-check form-check-inline">
            <p>
              <%=userWithSecrets.indexOf(secret)+1 %>.
              </p>
            <p class="secret-text"> <%=secret%></p>
          <!--  <p type="sumit" class="delete fas fa-trash" name="itemDelete" value="<%=userWithSecrets._id%>" onClick="this.form.submit()"></p>  %>
             <input class="form-check-input" type="checkbox" name="checkbox" value="<%=userWithSecrets._id%>" onChange="this.form.submit()">
            <labe class="form-check-label">delete</label> -->
            </div>
        </form>
      <%})%>


    <hr>
    <div class="fixed-bottom">
      <a class="btn btn-dark btn-lg " href="/submit" role="button">Add new Secret</a>
      <a class="btn btn-info btn-lg " href="/logout" role="button">Log Out</a>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
